@use "../../Scss/config";

.navBar {
  background-color: config.$navBack;
  @include config.flexCenter;
  min-height: 60px;
  padding: 0 22.5%;

  .title {
    font-size: 36px;
  }

  .navContainer {
    @include config.flexCenter;
    font-size: 1rem;
    margin-left: 40px;
    img {
      height: 24px;
    }

    a,
    span {
      margin: 0 5px;
      text-decoration: none;
    }
  }
  .cart {
    margin-left: auto;
  }
}
